# Python
__pycache__/
*.py[cod]
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environment
.venv/
venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Environment
.env

# Alembic (версии миграций коммитим, но не кэш)
alembic/__pycache__/